<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<style>
    *{
        background-color: wheat;
    }
    #images_for_show{
        display: inline-flex;
    }

</style>
<body>
        <h1>Instagram</h1>
        {% if user.is_authenticated %}
        <p>Welcome {{ user.username }}!</p>
            <p><a href="{% url 'logout' %}">Log out</a></p>
            <form action="" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
            {{ form.as_p }}
           <button type="submit" style="background-color: peachpuff">UPLOAD</button>
         </form>
        <div id="images_for_show">
        {% for image in images %}
       <div>
            <img src="{{ image.picture.url}}" height="220" width="220" alt="pics">
            <p>{{ image.caption}}</p>
            <p>{{ image.pub_date }}</p>
       </div>
        {% endfor %}
            </div>
        {% else %}
            <p>You are not logged in.</p>
            <a href="{% url 'login' %}">Log In|</a>
            <a href="{% url 'signUp' %}">SignUp|</a>
        {% endif %}


</body>
</html>